{% extends "layout.html" %}

{% block title %}
    Pull-ups
{% endblock %}

{% block main %}
    <h1>Pull-ups</h1>
    <form action="/pullups" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="pullupsORM"
            id="currentORM" placeholder="Current Max Reps" type="number" min="1" step="1"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="goal" id="goal" placeholder="Set Initial Goal" type="number" min="1" step="1"/>
        </div>
        <button class="btn btn-primary" type="submit" onclick="firstTimeValidate()">Add Reps</button>
        <div id="errors"></div>
    </form>
    <style>
        h1{margin-bottom: 20px;}
    </style>
{% endblock %}