{% extends "layout.html" %}

{% block title %}
    Pull-Ups
{% endblock %}

{% block main %}
    <h1>Pull-Ups</h1>
    <div>
        <h5>
            Your current max reps are {{ pullups }}
        </h5>
        <br>
        <h5>
            Your goal is {{ goal }}
        </h5>
        <br>
        <h5>
            Only {{ remaining }} left
        </h5>
    </div>
    <div>
        <h4>
            History of Lifts
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for data in history %}
                <tr>
                    <td>{{ data.sets }}</td>
                    <td>{{ data.reps }}</td>
                    <td>{{ data.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="/pullups" method="post">
        <h4>
            How many pull-ups did you do today?
        </h4>
        <div class="form-group">
            <input autocomplete="off" id="sets" autofocus class="form-control" name="sets"
            placeholder="Sets" type="number" min="1" step="1"/>
        </div>
        <div class="form-group">
            <input class="form-control" id="reps" name="reps" placeholder="Reps" type="number" min="1" step="1"/>
        </div>
        <button class="btn btn-primary" type="submit" onclick="pullupsValidate()">Record</button>
        <div id="errors"></div>
    </form>
    <style>
        h1{margin-bottom: 20px;}
        h4{margin-top: 40px; margin-bottom: 25px;}
        form{margin-top:20px}
    </style>
{% endblock %}